name: Publish Docker
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: FiMDiscord/fimdiscord.net/latest
        username: ${{ github.actor }}
        password: ${{ github.token }}
        registry: docker.pkg.github.com
    - name: DigitalOcean
      uses: appleboy/ssh-action@master
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        GITHUB_TOKEN: ${{ github.token }}
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.DO_USERNAME }}
        password: ${{ secrets.DO_PASSWORD }}
        port: 22
        envs: GITHUB_USERNAME, GITHUB_TOKEN
        script: |
          docker stop $(docker ps -a -q)
          docker login docker.pkg.github.com -u $GITHUB_USERNAME -p $GITHUB_TOKEN
          docker pull docker.pkg.github.com/FiMDiscord/fimdiscord.net/latest:latest
          docker run -dit -p 80:80 -p 443:443 docker.pkg.github.com/FiMDiscord/fimdiscord.net/latest:latest
